<div>
  <div class="center header white">Форма обратной связи</div>
  <div class="mt-2">
    <mat-form-field class="input-field">
      <mat-label>Email</mat-label>
      <input type="email" matInput>
      <!--    <mat-error *ngIf="loginForm.controls.username.hasError('required')">-->
      <!--      Поле должно быть заполненым-->
      <!--    </mat-error>-->
    </mat-form-field>
  </div>
  <div class="mt-2">
    <mat-form-field class="input-field">
      <mat-label>Тема</mat-label>
      <input type="email" matInput>
      <!--    <mat-error *ngIf="loginForm.controls.username.hasError('required')">-->
      <!--      Поле должно быть заполненым-->
      <!--    </mat-error>-->
    </mat-form-field>
  </div>
  <div class="mt-2">
    <mat-form-field class="input-field">
      <mat-label>Комментарий</mat-label>
      <input type="email" matInput>
      <!--    <mat-error *ngIf="loginForm.controls.username.hasError('required')">-->
      <!--      Поле должно быть заполненым-->
      <!--    </mat-error>-->
    </mat-form-field>
  </div>
  <div class="upload my-2">
    <div class="upload-text center">
      Загрузите или перетяните файл который хотите отправить
    </div>
  </div>
  <div class="mt-2">
    <app-button color="orange" value="ОТПРАВИТЬ"></app-button>
  </div>
</div>
