<div fxLayout="column" fxLayoutGap="20px">
  <div fxLayout="column" fxLayoutAlign="center center">
    <img src="assets/img/card_info_2.png">
    <div class="margin">
      <div class="header-info">
        Контроль <span class="violet">качества</span>
      </div>
      <div class="description-info">
        В нашем сервисе качество еды контролируют эксперты с почти двадцатилетним опытом в пищевой индустрии. Они всегда на связи с Вами благодаря нашей универсальной системе рекламаций.
      </div>
    </div>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <img src="assets/img/card_info_1.png">
    <div class="margin">
      <div class="header-info">
        <span class="blue">Разнообразное</span> меню
      </div>
      <div class="description-info">
        Специалисты делают меню разнообразным два раза в неделю на основе вкусовых предпочтений наших клиентов. Наши блюда состоят исключительно из натуральных ингредиентов
      </div>
    </div>
  </div>
</div>
