<div class="card">
  <img src="assets/img/example.png">
  <mat-chip-list class="mt-2">
    <div>
      <app-rating [value]="position.rate"></app-rating>
    </div>
    <mat-chip class="rating" *ngIf="true">
      Вегетырянское
    </mat-chip>
  </mat-chip-list>
  <div class="mt-2">
    <div class="name">
      {{position.name}}
    </div>
    <div class="ingredients">
      {{position.ingredients}}
    </div>
  </div>


  <div class="mt-2">
    <div>
      <app-card-price [value]="position.price"></app-card-price>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div class="weight">{{position.weight}} гр.</div>
      <svg width="1" height="16" viewBox="0 0 1 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="1" height="16" fill="#808080"/>
      </svg>
      <div class="info">22 Б</div>
      <svg width="1" height="16" viewBox="0 0 1 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="1" height="16" fill="#808080"/>
      </svg>
      <div class="info">22 Ж</div>
      <svg width="1" height="16" viewBox="0 0 1 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="1" height="16" fill="#808080"/>
      </svg>
      <div class="info">22 У</div>
    </div>
  </div>
  <div class="mt-2">
    <app-bucket-action [id]="position.id" [price]="position.price"></app-bucket-action>
  </div>
</div>
