<div class="card">
  <img class="img-card" src="assets/img/food_3.png">
  <mat-chip-list class="mt-2">
    <div *ngIf="false">
      <app-rating [value]="position.rate"></app-rating>
    </div>
    <div *ngIf="position.categories != null && position.categories.length > 0">
      <mat-chip *ngFor="let cat of position.categories" class="rating" >
        {{cat.name}}
      </mat-chip>
    </div>
  </mat-chip-list>
  <div class="info-block mt-2">
    <div class="name">
      {{position?.name?.length > 40 ? position?.name?.substring(0, 40) + '...' : position.name}}
    </div>
    <div class="ingredients">
      {{position?.ingredients?.length > 30 ? position?.ingredients?.substring(0, 30) + '...' : position.ingredients}}
    </div>
  </div>


  <div class="mt-2">
    <div>
      <app-card-price [value]="position.price"></app-card-price>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div class="weight">{{position.weight * 1000}} гр.</div>
      <div fxLayout="row" fxLayoutAlign="space-between center" *ngIf="position.proteins != null">
        <svg class="icon" width="1" height="16" viewBox="0 0 1 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="1" height="16" fill="#808080"/>
        </svg>
        <div class="info ml-2">{{position.proteins}} Б</div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center" *ngIf="position.fat != null">
        <div>
          <svg class="icon" width="1" height="16" viewBox="0 0 1 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="1" height="16" fill="#808080"/>
          </svg>
        </div>
        <div class="info ml-2">{{position.fat}} Ж</div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center" *ngIf="position.carbohydrate">
        <svg class="icon" width="1" height="16" viewBox="0 0 1 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="1" height="16" fill="#808080"/>
        </svg>
        <div class="info ml-2">{{position.carbohydrate}} У</div>
      </div>
    </div>
  </div>
  <div class="mt-2">
    <app-bucket-action [id]="position.id" [price]="position.price"></app-bucket-action>
  </div>
</div>
