<div class="container">
  <div class="header">
    ПОЛЬЗОВАТЕЛИ
  </div>
  <div fxLayoutAlign.xs="start center" fxLayout="row" fxLayoutGap="10px" class="my-4">
    <div fxFlex="20">
      <app-button (click)="newUser = true" color="orange" value="СОЗДАТЬ ПОЛЬЗОВАТЕЛЯ"></app-button>
    </div>
    <div fxFlex="20">
      <app-button-report></app-button-report>
    </div>
    <div fxFlex="25">

    </div>
    <div fxFlex="35" fxLayout="row">
      <input (keydown.enter)="onSearch()" [(ngModel)]="searchValue" placeholder="Поиск по базе" class="search" fxFlex="80" type="text">
      <app-button (click)="onSearch()" color="blue" fxFlex="20" value="Поиск"></app-button>
    </div>
  </div>
  <div fxLayout.xs="5px" class="header-line" fxLayout="row">
    <div fxFlex="5" class="header-list">
      №
    </div>
    <div fxFlex="21" class=" header-list">
      Имя
    </div>
    <div fxFlex="20" class=" header-list">
      Электронная почта
    </div>
    <div fxFlex.xs="20" fxFlex="15" class=" header-list">
      Телефон
    </div>
    <div fxFlex="15" class=" header-list">
      Статус
    </div>
  </div>
  <div *ngFor="let customer of customers">
    <app-users-item [number]="getNumber(customer)" [customer]="customer"></app-users-item>
  </div>
  <div *ngIf="newUser">
    <app-new-user (closeEvent)="closeEvent()"></app-new-user>
  </div>
  <div fxLayoutAlign="end end" *ngIf="isDataLoaded" class="mt-5">
    <app-pagination [pageNow]="page + 1" (changePage)="loadPage($event)" [pageSize]="pageSize" [count]="count"></app-pagination>
  </div>
</div>
