.line {
  margin: 2px 0;
  padding: 2%;
  background: #121212;
  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 130%;
}

.status {
  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 130%;
}

@media only screen and (max-width: 600px) {
  .line {
    font-size: 10px;
  }

  .status {
    font-size: 9px;
  }

  .pv {
    display: none;
  }
}
