.line {
  margin: 2px 0;
  padding: 2%;
  background: #121212;
  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 130%;
}

.status {
  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 130%;
}
