.card {
  max-width: 250px;
}

.name {
  font-family: Circe;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 100%;
  color: #FFFFFF;
}

.rating {
  background: #1CC186;
  cursor: pointer;
}

.text {
  font-family: Circe;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 130%;
}

.ingredients {
  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  color: #BDBDBD;
}

.weight {
  font-family: Circe;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 130%;
}

.info {
  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 130%;
  color: #808080;
}

@media only screen and (max-width: 600px) {
  .card {
    max-width: 190px;
  }

  .name {
    font-size: 13px;
  }

  .text {
    font-size: 7px;
  }

  .ingredients {
    font-size: 10px;
  }

  .weight {
    font-size: 8px;
  }

  .info {
    font-size: 9px;
  }

  .image {
    width: 100%;
  }

  .icon {
    height: 8px;
  }
}
