.card {
  max-width: 250px;
  min-width: 200px;
}

.name {
  font-family: Circe;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 100%;
  color: #FFFFFF;
}

.rating {
  background: #1CC186;
  cursor: pointer;
  color: white;
}

.text {
  font-family: Circe;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 130%;
}

.ingredients {
  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  color: #BDBDBD;
}

.weight {
  font-family: Circe;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 130%;
}

.info {
  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 130%;
  color: #808080;
}

.info-block {
  height: 60px;
}

.image {
  max-width: 170px;
  height: 140px;
}

@media only screen and (max-width: 600px) {
  .card {
    max-width: 190px;
  }

  .name {
    font-size: 15px;
  }

  .text {
    font-size: 9px;
  }

  .ingredients {
    font-size: 12px;
  }

  .weight {
    font-size: 10px;
  }

  .info {
    font-size: 11px;
  }

  .image {
    width: 100%;
  }

  .icon {
    height: 10px;
  }

  .info-block {
    height: 30px;
  }

  .rating {
    padding: 7px;
  }
}
