<div fxLayout="column" fxLayoutGap="20px" fxLayoutGap.xs="10px" class="card">
  <div>
    <img class="image" src="{{position.imageUrl != null ? position.imageUrl : 'assets/img/example.png'}}">
    <mat-chip-list class="mb-1">
      <div>
        <app-rating [value]="position.rate"></app-rating>
      </div>
      <mat-chip class="rating" *ngFor="let category of position.categories">
        {{category.name}}
      </mat-chip>
    </mat-chip-list>
  </div>
  <div class="info-block">
    <div class="name">
      {{position?.name.length > 40 ? position?.name.substring(0, 40) + '...' : position.name}}
    </div>
    <div class="ingredients">
      {{position?.ingredients.length > 30 ? position?.ingredients.substring(0, 30) + '...' : position.ingredients}}
    </div>
  </div>
  <div>
    <app-card-price [value]="position.price"></app-card-price>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div class="weight">{{position.weight * 1000}} гр.</div>
    <div fxLayout="row" fxLayoutAlign="space-between center" *ngIf="position.proteins != null">
      <svg class="icon" width="1" height="16" viewBox="0 0 1 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="1" height="16" fill="#808080"/>
      </svg>
      <div class="info ml-2">{{position.proteins}} Б</div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" *ngIf="position.fat != null">
      <div>
        <svg class="icon" width="1" height="16" viewBox="0 0 1 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="1" height="16" fill="#808080"/>
        </svg>
      </div>
      <div class="info ml-2">{{position.fat}} Ж</div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" *ngIf="position.carbohydrate">
      <svg class="icon" width="1" height="16" viewBox="0 0 1 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="1" height="16" fill="#808080"/>
      </svg>
      <div class="info ml-2">{{position.carbohydrate}} У</div>
    </div>
  </div>
</div>
