<div fxLayout="column" fxLayoutGap="20px" fxLayoutGap.xs="10px" class="card">
  <div fxFlex="30">
    <img class="image" src='assets/img/example.png'>
    <mat-chip-list class="mb-1">
      <div>
        <app-rating [value]="position.rate"></app-rating>
      </div>
      <mat-chip class="rating" *ngIf="position.tag">
        {{position.tag}}
      </mat-chip>
    </mat-chip-list>
  </div>
  <div fxFlex="20">
    <div class="name">
      {{position.name}}
    </div>
    <div class="ingredients">
      {{position.ingredients}}
    </div>
  </div>
  <div fxFlex="10">
    <app-card-price [value]="position.price"></app-card-price>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div class="weight">{{position.weight * 1000}} гр.</div>
    <svg class="icon" width="1" height="16" viewBox="0 0 1 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="1" height="16" fill="#808080"/>
    </svg>
    <div class="info">22 Б</div>
    <svg class="icon" width="1" height="16" viewBox="0 0 1 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="1" height="16" fill="#808080"/>
    </svg>
    <div class="info">22 Ж</div>
    <svg class="icon" width="1" height="16" viewBox="0 0 1 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="1" height="16" fill="#808080"/>
    </svg>
    <div class="info">22 У</div>
  </div>
</div>
