<div class="container">
  <div class="mt-4" fxLayout="row" fxLayoutAlign="space-between start">
    <div fxFlex="25">
      <div class="white header-block">
        Contacts
      </div>
      <div class="mt-2 field">
        <mat-form-field color="accent" class="input-field">
          <mat-label>Name and Surname</mat-label>
          <input [(ngModel)]="contactInfo.username" class="input-field" type="text" matInput required>
        </mat-form-field>
      </div>
      <div class="field">
        <mat-form-field color="accent" class="input-field">
          <mat-label>Phone no.</mat-label>
          <input [(ngModel)]="contactInfo.phone" class="input-field" type="text" matInput required>
        </mat-form-field>
      </div>
      <div class="field" *ngIf="contactInfo.forHome">
        <mat-form-field color="accent" class="input-field">
          <mat-label>Address</mat-label>
          <input [disabled]="!contactInfo.forHome" [(ngModel)]="contactInfo.address.street" class="input-field" type="text" matInput required name="address">
        </mat-form-field>
      </div>
      <div class="field" *ngIf="contactInfo.forHome">
        <mat-form-field color="accent" class="input-field">
          <mat-label>Flat/ Room no.</mat-label>
          <input [disabled]="!contactInfo.forHome" [(ngModel)]="contactInfo.address.room" class="input-field" type="text" matInput required>
        </mat-form-field>
      </div>
      <div class="field" *ngIf="contactInfo.forHome">
        <mat-form-field color="accent" class="input-field">
          <mat-label>Entry</mat-label>
          <input [disabled]="!contactInfo.forHome" [(ngModel)]="contactInfo.address.building" class="input-field" type="text" matInput>
        </mat-form-field>
      </div>
    </div>
    <div fxFlex="25">
      <div class="white header-block">
        Etc.
      </div>
      <div class="mt-2" fxLayout.xs="column" fxLayout="row" fxLayoutAlign="start start">
        <div class="mr-4">
          <mat-checkbox [(ngModel)]="contactInfo.contactless">
            Бесконтактная
          </mat-checkbox>
        </div>
        <div>
          <mat-checkbox (change)="setActiveTimeRange()" [(ngModel)]="contactInfo.forHome">
            Указать другой адрес / домой
          </mat-checkbox>
        </div>
      </div>
      <div>
        <div class="date-info mt-5 white">
          Ваш заказ на: {{date}}
        </div>
        <app-choice-time *ngIf="contactInfo.forHome" (notifyActiveTime)="setActiveTime($event)"></app-choice-time>
      </div>
    </div>
    <div fxFlex="25">
      <div class="white header-block">
        Спобобы оплаты
      </div>
      <div class="mt-2">
        <mat-radio-group [(ngModel)]="contactInfo.paymentMethod">
          <mat-radio-button class="mr-4" value="CARD" [disabled]="disablePaymentType">Карта</mat-radio-button>
          <mat-radio-button value="CASH" [disabled]="disablePaymentType">Наличные</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="mt-2 field">
        <mat-form-field color="accent" class="input-field">
          <mat-label>Комментарий к заказу</mat-label>
          <input [(ngModel)]="comment" class="input-field" type="text" matInput>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="my-4" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
    <div class="header white">
      Ваш заказ будет доставлен <span *ngIf="contactInfo.forHome" class="green">на дом</span><span *ngIf="!contactInfo.forHome" class="blue">на офис</span>
    </div>
    <div (click)="clearAll()" class="clear pointer">
      Очистить все
    </div>
  </div>
  <div class="my-4 white">
    <app-card-position-list [positions]="positions"></app-card-position-list>
  </div>
  <div class="mt-5" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
    <div>
      <div class="white header-block">
        Итого: {{calculateSale(total).toFixed(2)}} byn
      </div>
      <div class="total-pay white mt-2">
        К оплате: {{totalForPay.toFixed(2)}} byn
      </div>
    </div>
    <div fxFlex="15">
      <app-button (click)="createOrder()" value="ЗАКАЗАТЬ"></app-button>
    </div>
  </div>
</div>
