.header-tab {
  color: #B2B2B2;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 130%;
}

.active-header-tab {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 130%;
  opacity: 1 !important;
  color: #EC9B25 !important;
}

.description-tab {
  color: #FFFFFF;
  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 130%;
}

/deep/ .mat-tab-label .mat-tab-label-content {
  display: block !important;
}

/deep/ .mat-tab-label {
  height: 100% !important;
  margin-bottom: 10px !important;
}


.description-plan {
  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 120%;
  color: white;
  margin-bottom: 40px;
}

.feature-name {
  font-family: Circe;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 130%;
  color: white;
}

.add-info {
  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: white;
  margin-bottom: 20px;
}

.info {
  padding: 30px;
}

.feature-plan {
  margin-bottom: 40px;
}

.btn {
  max-width: 50%;
}

.image-xs {
  display: none;
}

@media only screen and (max-width: 600px) {
  .header-tab {
    font-size: 15px;
  }

  .active-header-tab {
    font-size: 15px;
  }

  .description-tab {
    font-size: 9px;
  }

  .description-plan {
    font-size: 12px;
  }

  .image-xl {
    display: none;
  }

  .image-xs {
    display: block;
    max-width: 300px;
    max-height: 200px;
  }

  /deep/.mat-tab-label, /deep/.mat-tab-label-active{
    min-width: 0!important;
    padding: 3px!important;
    margin: 3px!important;
  }

}
