<div>
  <mat-tab-group [(selectedIndex)]="selectedTabIndex">
    <mat-tab >
      <ng-template mat-tab-label>
        <div class="{{selectedTabIndex === 0 ? 'active-header-tab' : 'header-tab'}}">
          Dzinner standard
        </div>
        <div class="description-tab">
          Моя фирма не оплачивает сотрудникам еду
        </div>
      </ng-template>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="space-between center">
        <div>
          <img class="image-xs" src="../../../../assets/img/description_photo_1.png" style="max-width: 576px; max-height: 476px">
        </div>
        <div class="info">
          <div class="description-plan">
            Это решение идеально подойдет для организаций, которые не выделяют бюджета на питание своим сотрудникам. Наш курьер будет доставлять горячую еду в ваш офис каждый день как раз к обеду, а расчет будет производится с каждым сотрудником индивидуально. Сервис не потребует никаких специальных интеграций или обязательств со стороны вашей фирмы и не будет отвлекать руководство компании от работы.
          </div>
          <div class="feature-plan">
            <div class="feature-name">
              Фичи:
              <div *ngFor="let feature of features">
                <app-feature-plan [value]="feature"></app-feature-plan>
              </div>
            </div>
          </div>
          <div class="add-info">
            Свяжитесь с нашим отделом продаж, чтобы узнать больше о Dzinner standard.
          </div>
          <div class="btn">
            <app-button (click)="go()" value="СВЯЗАТЬСЯ"></app-button>
          </div>
        </div>
        <div class="image-xl">
          <img src="../../../../assets/img/description_photo_1.png" style="max-width: 576px; max-height: 476px">
        </div>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <div class="{{selectedTabIndex === 1 ? 'active-header-tab' : 'header-tab' }}">
          Dzinner premium
        </div>
        <div class="description-tab">
          Моя фирма оплачивает сотрудникам еду
        </div>
      </ng-template>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="space-between center">
        <div>
          <img class="image-xs" src="../../../../assets/img/description_photo_2.png">
        </div>
        <div class="info">
          <div class="description-plan">
            Это решение походит тем предприятиям, которые полностью или частично компенсируют своим сотрудникам питание. Ваши сотрудники получат доступ к личному кабинету, администраторы смогут скачивать любые отчеты онлайн. Расчеты при этом производятся через накладные.
          </div>
          <div class="feature-plan">
            <div class="feature-name">
              Фичи:
              <div *ngFor="let feature of features">
                <app-feature-plan [value]="feature"></app-feature-plan>
              </div>
            </div>
          </div>
          <div class="add-info">
            Свяжитесь с нашим отделом продаж, чтобы узнать больше о Dzinner standard.
          </div>
          <div class="btn">
            <app-button (click)="go()" value="СВЯЗАТЬСЯ"></app-button>
          </div>
        </div>
        <div class="image-xl">
          <img src="../../../../assets/img/description_photo_2.png">
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
