<div fxLayout="row" fxLayoutAlign="start start">
  <div class="request-info" fxFlex="90" fxLayout="column" fxLayoutAlign="center start">
    <div class="request-header">
      Помните то самое чувство, когда мама зовет вас кушать и вы бежите сломя голову?
    </div>
    <div class="request-header blue">
      Это про нас.
    </div>
    <div class="request-description">
      Просто пригласите нас на бесплатную дегустацию и вы сами все увидите
    </div>
  </div>
  <div>
    <app-request-form></app-request-form>
  </div>
</div>
