<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around start">
  <div class="request-info" fxLayout="column" fxLayoutAlign="center start">
    <div class="request-header">
      Only best of asian food.
    </div>
    <div class="request-header blue">
      That is a bout us.
    </div>
    <div class="request-description">
      Просто пригласите нас на бесплатную дегустацию и вы сами все увидите
    </div>
  </div>
  <div class="mt-5" fxFlex="40">
    <app-request-form></app-request-form>
  </div>
</div>
