<div class="block">
</div>
<div class="form">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="my-5 center header-form">
      Авторизация
    </div>
    <div class="field">
      <mat-form-field color="accent" class="input-field">
        <mat-label>Email</mat-label>
        <input  class="input-field" formControlName="username" type="email" matInput>
        <mat-error *ngIf="loginForm.controls.username.hasError('required')">
          Поле должно быть заполненым
        </mat-error>
      </mat-form-field>
    </div>
    <div class="field">
      <mat-form-field color="accent" class="input-field">
        <mat-label>Пароль</mat-label>
        <input  class="input-field" formControlName="password" [type]="hidePassword ? 'password' : 'text'" matInput>
        <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
          <mat-icon class="hide">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="loginForm.controls.password.hasError('required')">
          Поле должно быть заполненым
        </mat-error>
      </mat-form-field>
    </div>
    <div class="my-3 field">
      <app-button color="orange" [disable]="loading" value="ВОЙТИ"></app-button>
    </div>
    <div class="my-3 registration">
      Если у вас еще нет аккаунта, <span class="reg-link" [routerLink]="['/registration']">зарегистрируйтесь</span>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <div class="info">
        Узнайте как начать работать с нами
      </div>
    </div>
  </form>
</div>
