.carousel {
  background: url("../../../../../assets/img/food_image.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 10% 10% 5%;
  /*-webkit-animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;*/
  /*animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;*/
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.main-text {
  font-family: Circe;
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 110%;
}

.description-header {
  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 100%;
  color: white;
  margin-top: 3%;
}

.button-header {
  margin-top: 5%;
  max-width: 240px;
}

.slider {
  margin-top: 10%;
  margin-bottom: 10%;
}
