.btn {
  border: 1px solid white;
  width: 100%;
  padding: 5% 10%;
}

.btn-value {
  font-family: Circe;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 100%;
}

.mat-icon {
  color: white;
}
