.text {
  font-family: Circe;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 130%;
  color: white;
  margin-top: 4px;
}

.chip {
  cursor: pointer;
  background: #EC9B25;
}

.full-rate {
  display: none;
  position: absolute;
}

.chip:hover ~ .full-rate {
  display: block;
}

/deep/ .mat-standard-chip {
  padding: 10px;
  min-height: 0;
  height: 16px;
}

@media only screen and (max-width: 600px) {

  .icon {
    width: 6px;
    height: 5px;
  }

  .text {
    font-size: 6px;
    margin-top: 2px;
  }

  /deep/ .mat-standard-chip {
    padding: 2px 3px;
    min-height: 0;
    height: 16px;
  }
}
