<div class="container">
  <div class="header">
    ОБРАТНАЯ СВЯЗЬ
  </div>
  <div fxLayout="row" class="my-4">
    <div fxFlex="15">
      <app-button (click)="open()" value="НАПИСАТЬ" color="orange"></app-button>
    </div>
  </div>
  <div>
    <app-feedback-header></app-feedback-header>
  </div>
  <div *ngFor="let feed of feedbackArray">
    <app-feedback-item [number]="getNumber(feed)" [feedbackResponse]="feed"></app-feedback-item>
  </div>
  <div fxLayoutAlign="end end" *ngIf="isDataLoaded" class="mt-5">
    <app-pagination [pageNow]="page + 1" (changePage)="loadPage($event)" [pageSize]="pageSize" [count]="count"></app-pagination>
  </div>
</div>
