<div class="container">
  <div class="white header">
    ЛИЧНЫЙ КАБИНЕТ
  </div>
  <div class="mt-4" fxLayout="row" fxLayoutAlign="space-between start">
    <div fxFlex="25">
      <div class="white header-block">
        Контактные данные
      </div>
      <div class="mt-2 field">
        <mat-form-field
          color="accent" class="input-field">
          <mat-label>ФИО</mat-label>
          <input [(ngModel)]="contactInfo.username" class="input-field" type="text" matInput required>
        </mat-form-field>
      </div>
      <div class="field">
        <mat-form-field color="accent" class="input-field">
          <mat-label>Email</mat-label>
          <input [(ngModel)]="contactInfo.email" class="input-field" type="email" matInput disabled>
        </mat-form-field>
      </div>
      <div class="field">
        <mat-form-field color="accent" class="input-field">
          <mat-label>Телефон</mat-label>
          <input [(ngModel)]="contactInfo.phone" class="input-field" type="text" matInput required>
        </mat-form-field>
      </div>
      <div class="field">
        <mat-form-field color="accent" class="input-field">
          <mat-label>User name telegram</mat-label>
          <input [(ngModel)]="contactInfo.telegramUsername" class="input-field" type="text" matInput>
        </mat-form-field>
      </div>
    </div>
    <div fxFlex="25">
      <div class="white header-block">
        Адресс доставки,дата и время
      </div>
      <div class="mt-2" fxLayout="row" fxLayoutAlign="space-between start">
        <div>
          <mat-checkbox [(ngModel)]="contactInfo.contactless">
            Бесконтактная
          </mat-checkbox>
        </div>
        <div>
          <mat-checkbox [(ngModel)]="contactInfo.forHome">
            На дом
          </mat-checkbox>
        </div>
      </div>
      <div class="field">
        <mat-form-field color="accent" class="input-field">
          <mat-label>Адресс</mat-label>
          <input
            [matAutocomplete]="auto"
            [formControl]="addressFormControl"
            (input)="findAddress()"
            [value]="contactInfo?.address?.street"
            class="input-field" type="text" matInput>
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let value of addresses" [value]="value">
              {{value}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
<!--      <div class="field">-->
<!--        <mat-form-field color="accent" class="input-field">-->
<!--          <mat-label>Квартира/Номер комнаты</mat-label>-->
<!--          <input [(ngModel)]="contactInfo?.address?.room" class="input-field" type="text" matInput>-->
<!--        </mat-form-field>-->
<!--      </div>-->
    </div>
    <div fxFlex="25">
      <div class="white header-block">
        Спобобы оплаты
      </div>
      <div class="mt-2">
        <mat-radio-group [(ngModel)]="contactInfo.paymentMethod">
          <mat-radio-button class="mr-4" value="CARD">Карта</mat-radio-button>
          <mat-radio-button value="CASH">Наличные</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </div>
  <div class="mt-4 btn-group" fxLayout="row" fxLayoutAlign="end start" fxLayoutGap="20px">
    <app-button (click)="save()" value="СОХРАНИТЬ" fxFlex="20"></app-button>
    <app-button fxFlex="15" color="grey" value="ОТМЕНИТЬ"></app-button>
  </div>
</div>
