.container {
  max-width: 100%;
  padding: 2% 10% 10%;;
}

.side {
  margin: 10% 0;
}

.menu-header {
  font-family: Circe;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 130%;
  color: white;
  margin-bottom: 62px;
}

.category {
  margin-right: 10%;
}

/deep/ .mat-grid-tile .mat-figure {
  display: block !important;
  border-radius: 4px !important;
}

.phone-btn {
  position: fixed;
  right: 50px;
  bottom: 50px;
}

.calendar {
  margin-bottom: 5%;
}


@media only screen and (max-width: 600px) {

  .phone-btn {
    right: 15px;
    bottom: 15px;
  }

  .container {
    padding: 2%;
  }
}
