.container {
  padding: 5% 20%;
}

.hot-offer {
  font-family: Circe;
  font-style: normal;
  font-weight: 800;
  font-size: 44px;
  line-height: 130%;
  /* or 57px */
}

.calendar {
  margin-bottom: 3%;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 2%;
  }
}
