<div class="block">
</div>
<div class="form">
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div class="mb-3 center header-form">
      Регистрация в системе
    </div>
    <div class="field">
      <mat-form-field color="accent" class="input-field">
        <mat-label>Email</mat-label>
        <input [minlength]="minLength" class="input-field" formControlName="username" type="email" matInput>
        <mat-error *ngIf="registrationForm.controls.username.hasError('required')">
          Поле должно быть заполненым
        </mat-error>
        <mat-error *ngIf="registrationForm.controls.username.hasError('minlength')">
          Поле должно быть больше {{minLength}} символов
        </mat-error>
        <mat-error *ngIf="registrationForm.controls.username.hasError('email')">
          Неверный формат почты
        </mat-error>
      </mat-form-field>
    </div>
    <div class="mt-2">
      <mat-form-field color="accent" class="input-field">
        <mat-label>Пароль</mat-label>
        <input [minLength]="minLength" class="input-field" formControlName="password" [type]="hidePassword ? 'password' : 'text'" matInput>
        <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
          <mat-icon class="hide">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="registrationForm.controls.password.hasError('required')">
          Поле должно быть заполненым
        </mat-error>
        <mat-error *ngIf="registrationForm.controls.password.hasError('minlength')">
          Поле должно быть больше {{minLength}} символов
        </mat-error>
      </mat-form-field>
    </div>
    <div class="mt-2">
      <mat-form-field color="accent" class="input-field">
        <mat-label>Пароль</mat-label>
        <input [minLength]="minLength" class="input-field" formControlName="passwordConfirm" [type]="hidePasswordConfirm ? 'password' : 'text'" matInput>
        <button mat-icon-button matSuffix (click)="hidePasswordConfirm = !hidePasswordConfirm" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePasswordConfirm">
          <mat-icon class="hide">{{hidePasswordConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="registrationForm.controls.passwordConfirm.hasError('required')">
          Поле должно быть заполненым
        </mat-error>
        <mat-error *ngIf="registrationForm.controls.passwordConfirm.hasError('minlength')">
          Поле должно быть больше {{minLength}} символов
        </mat-error>
      </mat-form-field>
    </div>
    <div class="mt-3">
      <app-button color="orange" [disable]="loading" value="РЕГИСТРАЦИЯ"></app-button>
    </div>
  </form>
</div>
