.name {
  font-family: Circe;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 100%;
  color: #FFFFFF;
}

.rating {
  background: #1CC186;
  color: white;
  cursor: pointer;
}

.text {
  font-family: Circe;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 130%;
}

.ingredients {
  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  color: #BDBDBD;
}

.weight {
  font-family: Circe;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 130%;
  color: white;
}

.info {
  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 130%;
  color: #808080;
}

.card {
  max-width: 280px;
}

.img-card {
  max-width: 208px;
  max-height: 140px;
}

.amount {
  font-family: Circe;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 100%;
}

.mat-standard-chip {
  min-height: 20px;
}

.info-block {
  height: 60px;
}

.mv {
  display: none;
}

@media only screen and (max-width: 600px) {

  .amount {
    font-size: 12px;
  }

  .mat-chip.mat-standard-chip {
    font-size: 10px;
  }

  .info-block {
    min-height: 30px;
  }

  .card {
    max-width: 80px;
    min-width: 0;
  }

  .mat-standard-chip {
    min-height: 0;
  }

  .name {
    font-size: 11px;
    width: 140%;
  }

  .text {
    font-size: 9px;
  }

  .ingredients {
    font-size: 9px;
  }

  .weight {
    font-size: 9px;
  }

  .info {
    font-size: 8px;
  }

  .image {
    max-width:100%;
    height: 200px;
    object-fit: cover;
  }

  .icon {
    height: 9px;
  }

  .info-block {
    min-height: 30px;
  }

  .rating {
    padding: 12px;
  }

  .dv {
    display: none;
  }

  .mv {
    display: block;
  }
}
