<div class="card">
  <img class="img-card" [src]="position.imageUrl">
  <mat-chip-list class="mt-2">
    <div *ngIf="false">
      <app-rating [value]="position.rate"></app-rating>
    </div>
    <mat-chip class="rating" *ngFor="let category of position.categories">
      {{category.name}}
    </mat-chip>
  </mat-chip-list>
  <div class="info-block mt-2" fxLayout.xs="column" fxLayoutGap.xs="5px">
    <div class="name">
      {{position?.name?.length > 40 ? position?.name?.substring(0, 40) + '...' : position.name}}
    </div>
    <div class="ingredients">
      {{position?.ingredients?.length > 30 ? position?.ingredients?.substring(0, 30) + '...' : position.ingredients}}
    </div>
  </div>

  <div class="mt-2">
    <div>
      <app-card-price [value]="position.price"></app-card-price>
    </div>
    <div class="dv">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <div class="weight">{{ position.weight * 1000 }} grams</div>
        <div fxLayout="row" fxLayoutAlign="space-between center" *ngIf="position.proteins != null">
          <svg class="icon" width="1" height="16" viewBox="0 0 1 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="1" height="16" fill="#808080"/>
          </svg>
          <div class="info ml-2">{{ position.proteins }} proteins</div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center" *ngIf="position.fat != null">
          <div>
            <svg class="icon" width="1" height="16" viewBox="0 0 1 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect width="1" height="16" fill="#808080"/>
            </svg>
          </div>
          <div class="info ml-2">{{ position.fat }} fats</div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center" *ngIf="position.carbohydrate">
          <svg class="icon" width="1" height="16" viewBox="0 0 1 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="1" height="16" fill="#808080"/>
          </svg>
          <div class="info ml-2">{{ position.carbohydrate }} carbs</div>
        </div>
      </div>
    </div>
    <div class="mv">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="2px">
        <div class="weight">{{ position.weight * 1000 }} gram</div>
        <div *ngIf="position.proteins != null" class="info">{{ position.proteins }} proteins</div>
        <div *ngIf="position.fat != null" class="info">{{ position.fat }} fats</div>
        <div *ngIf="position.carbohydrate != null" class="info">{{ position.carbohydrate }} carbs</div>
      </div>
    </div>
  </div>
  <div class="mt-2 amount">
    {{ position.totalProduced }} items
  </div>
</div>
