<div class="form">
  <div class="form-header">
    Join us as a customer
  </div>

  <form>
    <mat-form-field color="accent" class="input-field">
      <mat-label>Name and Surname</mat-label>
      <input [(ngModel)]="clientRequest.username" name="username" type="text" matInput required>
    </mat-form-field>
    <mat-form-field color="accent" class="input-field">
      <mat-label>Email</mat-label>
      <input [(ngModel)]="clientRequest.email" name="email" type="email" matInput required>
    </mat-form-field>
    <mat-form-field color="accent" class="input-field">
      <mat-label>Company name</mat-label>
      <input [(ngModel)]="clientRequest.companyName" name="companyName" type="text" matInput required>
    </mat-form-field>
    <mat-form-field color="accent" class="input-field">
      <mat-label>Position</mat-label>
      <input [(ngModel)]="clientRequest.position" name="position" type="text" matInput required>
    </mat-form-field>
    <mat-form-field color="accent" class="input-field">
      <mat-label>Number of employees</mat-label>
      <input [(ngModel)]="clientRequest.companySize" name="companySize" (keypress)="numberOnly($event)" matInput>
    </mat-form-field>
    <mat-form-field color="accent" class="input-field">
      <mat-label>Comments</mat-label>
      <input [(ngModel)]="clientRequest.comment" name="comment" type="text" matInput>
    </mat-form-field>
    <div>
      <app-button (click)="save()" value="Send"></app-button>
    </div>
  </form>
</div>
