.footer {
  background-color: #030203;
  padding: 1% 10%;
  max-width: 100%;
}

.accept-payment {
  font-family: Circe;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 100%;
  color: white;
}

.type {
  font-family: Circe;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 100%;

  text-transform: uppercase;
  color: #999999;
}

.payment-type {
  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 100%;

  text-transform: uppercase;
  color: #FFFFFF;
}

.company {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 130%;

  color: #797979;
}

.street {
  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 190%;
  /* or 27px */

  text-transform: uppercase;
}

.email {
  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 190%;
}

.phone {
  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 190%;
}


@media only screen and (max-width: 600px) {
  .main-icon {
    width: 100px;
    height: 12px;
  }

  .icon {
    width: 10px;
    height: 10px;
  }

  .accept-payment {
    font-size: 8px;
  }

  .type {
    font-size: 6px;
  }

  .mastercard {
    width: 20px;
    height: 12px;
  }

  .visa {
    width: 20px;
    height: 6px;
  }

  .payment-type {
    font-size: 6px;
  }

  .company {
    font-size: 6px;
  }

  .street {
    font-size: 7px;
  }

  .email {
    font-size: 7px;
  }

  .phone {
    font-size: 7px;
  }

  .contact-icon {
    width: 12px;
    height: 12px;
  }

  .footer {
    padding: 5%;
  }
}
