<div fxLayout="row">
  <div fxFlex.xs="90" fxFlex="97" fxLayout="row" class="line" fxLayoutGap.xs="5px">
    <div fxFlex="10">
      <div class="line-text">
        #{{order.id}}
      </div>
      <div class="mt-2 line-description">
        {{order.toDate}}
      </div>
      <div class="line-description">
        {{order.toDate}}
      </div>
    </div>
    <div fxFlex="22">
      <div class="line-text">
        {{order.username == null ? '-' : order.username}}
      </div>
      <div class="line-text">
        {{order.phone}}
      </div>
      <div class="mt-2 additional-text">
        {{order.address?.street}}
      </div>
    </div>
    <div fxFlex="20">
      <div class="line-text">
        Нора
<!--        {{history.manager.username}}-->
      </div>
      <div class="line-text">
<!--        {{history.manager.phone}}-->
        +375-29-788-93-59
      </div>
    </div>
    <div fxFlex="15">
      <div class="line-text">
        {{getPositionsCount()}} шт
      </div>
      <div class="mt-2 line-description">
<!--        Доставил Иванов.А.С-->
<!--        {{history.courier.username}}-->
      </div>
      <div class="line-description">
<!--        +375333905077-->
<!--        {{history.courier.phone}}-->
      </div>
    </div>
    <div fxFlex="15">
      <div class="line-text">
        {{order.total}} byn
      </div>
      <div class="mt-2 additional-text">
        К оплате {{order.totalForPay}} byn
      </div>
    </div>
    <div fxFlex="15">
      <div [ngSwitch]="order.state">
        <div *ngSwitchCase="'DELIVERED'">
          <div class="green status-text">
            Доставлен
          </div>
          <div class="mt-2">
            <app-button (click)="openDialog()" value="ОСТАВИТЬ ОТЗЫВ"></app-button>
          </div>
        </div>
        <div *ngSwitchCase="'IN_PROGRESS'">
          <div class="orange status-text">
            В процессе обработки
          </div>
        </div>
        <div *ngSwitchCase="'PACKED'">
          <div class="orange status-text">
            Упакован
          </div>
        </div>
        <div *ngSwitchCase="'IN_WAY'">
          <div class="orange status-text">
            В пути
          </div>
        </div>
        <div *ngSwitchCase="'CONFIRMED'">
          <div class="orange status-text">
            Подтвержден
          </div>
        </div>
        <div *ngSwitchDefault>
          <div class="red status-text">
            Отменен
          </div>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" fxFlex.xs="10" fxFlex="3" class="rectangle">
    <button (click)="showPosition = showPosition === false" mat-icon-button>
      <mat-icon>{{ !showPosition? 'keyboard_arrow_down': 'keyboard_arrow_up' }}</mat-icon>
    </button>
  </div>
</div>
<div *ngIf="showPosition" class="my-2 mx-3">
  <app-history-card-position-list [positions]="order.positions"></app-history-card-position-list>
</div>
