<div
  data-aos="fade-up"
  data-aos-delay="50"
  data-aos-duration="1000"
  data-aos-easing="ease-in-out"
  data-aos-mirror="true"
  data-aos-once="false"
  data-aos-anchor-placement="top-center"
  class="info">
  <mat-grid-list cols="4" gutterSize="20px" rowHeight="370px">
    <mat-grid-tile
      colspan="1"
      rowspan="1"
      [style.background]="color">
      <img src="assets/img/card_info_2.png">
      <div class="margin">
        <div class="header-info">
          Контроль <span class="violet">качества</span>
        </div>
        <div class="description-info">
          В нашем сервисе качество еды контролируют эксперты с почти двадцатилетним опытом в пищевой индустрии. Они всегда на связи с Вами благодаря нашей универсальной системе рекламаций.
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile
      colspan="1"
      rowspan="1"
      [style.background]="color">
      <img src="assets/img/card_info_1.png">
      <div class="margin">
        <div class="header-info">
          <span class="blue">Разнообразное</span> меню
        </div>
        <div class="description-info">
          Специалисты делают меню разнообразным два раза в неделю на основе вкусовых предпочтений наших клиентов. Наши блюда состоят исключительно из натуральных ингредиентов
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile
      colspan="2"
      rowspan="1">
      <img class="full-image" src="assets/img/card_info_3.png">
      <mat-grid-tile-footer>
        <div class="text-info">
          <div class="header-info">
            Автоматизация
          </div>
          <div class="description-info">
            В личном кабинете отображена вся информация о взаимодействии с нашим сервисом. Специалисты HR и офис-менеджеры так же получают доступ к любым отчетам и статистикам по заказам сотрудников из их компании
          </div>
        </div>
      </mat-grid-tile-footer>
    </mat-grid-tile>

    <mat-grid-tile
      colspan="1"
      rowspan="1"
      [style.background]="color">
      <img src="assets/img/card_info_4.png">
      <div class="margin">
        <div class="header-info">
          <span class="orange">Личный</span> менеджер
        </div>
        <div class="description-info">
          Вы получите личного менеджера, который будет онлайн в любое время, для решения любых вопросов
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile
      colspan="2"
      rowspan="1">
      <img class="full-image" src="assets/img/card_info_3.png">
      <mat-grid-tile-footer>
        <div class="text-info">
          <div class="header-info">
            Автоматизация
          </div>
          <div class="description-info">
            В личном кабинете отображена вся информация о взаимодействии с нашим сервисом. Специалисты HR и офис-менеджеры так же получают доступ к любым отчетам и статистикам по заказам сотрудников из их компании
          </div>
        </div>
      </mat-grid-tile-footer>
    </mat-grid-tile>
    <mat-grid-tile
      colspan="1"
      rowspan="1"
      [style.background]="color">
      <img src="assets/img/card_info_5.png">
      <div class="margin">
        <div class="header-info">
          Контроль качества
        </div>
        <div class="description-info">
          В нашем сервисе качество еды контролируют эксперты с почти двадцатилетним опытом в пищевой индустрии. Они всегда на связи с Вами благодаря нашей универсальной системе рекламаций.</div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
