.header {
  position: relative;
  background: #140f12;
  padding: 1% 0;
  margin: 0;
}

.icon {
  cursor: pointer;
}

.link-item-mob {
  display: none;
}

.logo {
  max-width: 170px;
}

.active-mob-menu {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@media only screen and (max-width: 600px) {
  .link-item {
    display: none;
  }

  .logo {
    max-width: 140px;
  }

  .link-item-mob {
    display: block;
  }

  .header {
    padding: 10px;
  }

  .active-mob-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: black;
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }

  .header-mob {
    padding: 10px;
  }
}


@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

