<div class="header"
     fxLayout="row"
     fxLayoutAlign.xs="start center"
     fxLayoutAlign="space-around center">
  <div fxFlex.xs="50" class="icon" routerLink="/home">
    <img class="logo" src="assets/img/logo3.png">
  </div>

  <app-link class="link-item" link="/home#menu" *ngIf="!user" value="МЕНЮ"></app-link>
  <app-link class="link-item" link="/home#tarifs" *ngIf="!user" value="ТАРИФЫ"></app-link>
  <app-link class="link-item" link="/home#partners" *ngIf="!user" value="FAQ"></app-link>

  <app-link class="link-item" routerLink="/" *ngIf="user" value="МЕНЮ"></app-link>
  <app-link class="link-item" routerLink="/users" *ngIf="user && isAdmin()" value="ПОЛЬЗОВАТЕЛИ"></app-link>
  <app-link class="link-item" routerLink="/feedback" *ngIf="user" value="ОБРАТНАЯ СВЯЗЬ"></app-link>
  <app-link class="link-item" routerLink="/history" *ngIf="user" value="ИСТОРИЯ ЗАКАЗОВ"></app-link>
  <app-bucket class="link-item" routerLink="/order" *ngIf="user"></app-bucket>

  <app-button class="link-item"  fxFlex="10" *ngIf="!user" value="ВОЙТИ" routerLink="login"></app-button>
  <app-button-icon  class="link-item" routerLink="/profile" fxFlex="15" *ngIf="user"></app-button-icon>

  <div class="link-item-mob" fxFlex.xs="35"></div>

  <div class="link-item-mob" fxFlexAlign="start">
    <button *ngIf="!openMenu" id="menu-close" (click)="openMenu = false == openMenu" mat-icon-button>
      <mat-icon id="menu-close">reorder</mat-icon>
    </button>
    <button *ngIf="openMenu" id="menu-close" (click)="openMenu = false == openMenu" mat-icon-button>
      <mat-icon id="menu-close">clear</mat-icon>
    </button>
  </div>
</div>
<div fxLayoutGap="20px" fxLayout="column" *ngIf="openMenu" class="active-mob-menu">
  <div fxLayout="row" class="header-mob">
    <div fxFlexAlign="center" fxFlex.xs="60" class="icon" routerLink="/home">
      <img class="logo" src="assets/img/logo3.png">
    </div>
    <div class="link-item-mob" fxFlex.xs="25"></div>

    <div class="link-item-mob" fxFlexAlign="start">
      <button *ngIf="!openMenu" id="menu-close" (click)="openMenu = false == openMenu" mat-icon-button>
        <mat-icon id="menu-close">reorder</mat-icon>
      </button>
      <button *ngIf="openMenu" id="menu-close" (click)="openMenu = false == openMenu" mat-icon-button>
        <mat-icon id="menu-close">clear</mat-icon>
      </button>
    </div>
  </div>


  <app-link (click)="openMenu = false == openMenu" fxFlexAlign="center" class="link-item-mob" link="/home#menu" *ngIf="!user" value="МЕНЮ"></app-link>
  <app-link (click)="openMenu = false == openMenu" fxFlexAlign="center" class="link-item-mob" link="/home#about-us" *ngIf="!user" value="О НАС"></app-link>
  <app-link (click)="openMenu = false == openMenu" fxFlexAlign="center" class="link-item-mob" link="/home#tarifs" *ngIf="!user" value="ТАРИФЫ"></app-link>
  <app-link (click)="openMenu = false == openMenu" fxFlexAlign="center" class="link-item-mob" link="/home#partners" *ngIf="!user" value="КЛИЕНТЫ"></app-link>
  <app-link (click)="openMenu = false == openMenu" fxFlexAlign="center" class="link-item-mob" routerLink="/login" *ngIf="!user" value="ВОЙТИ"></app-link>

  <app-link (click)="openMenu = false == openMenu" fxFlexAlign="center" class="link-item-mob" routerLink="/" *ngIf="user" value="МЕНЮ"></app-link>
  <app-link (click)="openMenu = false == openMenu" fxFlexAlign="center" class="link-item-mob" routerLink="/users" *ngIf="user && isAdmin()" value="ПОЛЬЗОВАТЕЛИ"></app-link>
  <app-link (click)="openMenu = false == openMenu" fxFlexAlign="center" class="link-item-mob" routerLink="/feedback" *ngIf="user" value="ОБРАТНАЯ СВЯЗЬ"></app-link>
  <app-link (click)="openMenu = false == openMenu" fxFlexAlign="center" class="link-item-mob" routerLink="/history" *ngIf="user" value="ИСТОРИЯ ЗАКАЗОВ"></app-link>
  <app-link (click)="openMenu = false == openMenu" fxFlexAlign="center" class="link-item-mob" routerLink="/profile" *ngIf="user" value="ЛИЧНЫЙ КАБИНЕТ"></app-link>
  <app-bucket (click)="openMenu = false == openMenu" fxFlexAlign="center" class="link-item-mob" routerLink="/order" *ngIf="user"></app-bucket>
</div>
