.header {
  position: relative;
  background: #140f12;
  padding: 1% 0;
  margin: 0;
}

.icon {
  cursor: pointer;
}

.link-item-mob {
  display: none;
}

@media only screen and (max-width: 600px) {
  .link-item {
    display: none;
  }

  .link-item-mob {
    display: block;
  }

  .header {
    padding: 10px;
  }
}
